

header{
    background-color: rgb(239, 156, 170);

}


section{
    background-color: pink;
}

img{
    width: 33%;
    height: auto;
    filter: opacity(30%);
    clip-path: fill-box;
}

a:hover img{
    filter: saturate(1);
}